<!-- Jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="collapse" id="form-open">
      <form action="/aircraft/create" method="POST" class="form-horizontal col-sm-8 col-md-offset-2 ">
        <div class="form-group">
          <label for="tailNumber" class="col-sm-2 control-label">Tail Number</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tailNumber" name="tailNumber" placeholder="tailNumber">
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="status" name="status" placeholder="Status">
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="type" name="type" placeholder="type">
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-2 control-label">Location</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="location" name="location" placeholder="location">
          </div>
        </div>
        <div class="form-group">
          <label for="condition" class="col-sm-2 control-label">Malfunctions</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="condition" name="condition" placeholder="Malfunctions">
          </div>
        </div>
        <div class="form-group">
          <label for="arrived" class="col-sm-2 control-label">APU</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="arrived" name="arrived" placeholder="arrived">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label for="etops" class="col-sm-2 control-label">Etops</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="etops" name="etops" placeholder="etops">
          </div>
        </div>
        <div class="form-group">
          <label for="cockpit" class="col-sm-2 control-label">Cockpit</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cockpit" name="cockpit" placeholder="cockpit">
          </div>
        </div>
        <div class="form-group">
          <label for="lighting" class="col-sm-2 control-label">Lighting</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lighting" name="lighting" placeholder="lighting">
          </div>
        </div>
        <div class="form-group">
          <label for="ife" class="col-sm-2 control-label">IFE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="ife" name="ife" placeholder="ife">
          </div>
        </div>
        <div class="form-group">
          <label for="wifi" class="col-sm-2 control-label">Wifi</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="wifi" name="wifi" placeholder="wifi">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" data-model="<%- req.options.controller %>" class="btn btn-success create-object">Create now</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Tail Number</td>
        <td>Status</td>
        <td>Type</td>
        <td>Location</td>
        <td>Condition</td>
        <td>Arrived</td>
        <td>Name</td>
        <td>Etops</td>
        <td>Cockpit</td>
        <td>Lighting</td>
        <td>IFE</td>
        <td>Wifi</td>
        <td>Created At</td>
        <td>Updated At</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% _.each(aircrafts, function(aircraft) { %>
        <tr>
          <td><%- aircraft.id %></td>
          <td><%- aircraft.tailNumber %></td>
          <td><%- aircraft.status %></td>
          <td><%- aircraft.type %></td>
          <td><%- aircraft.location %></td>
          <td><%- aircraft.condition %></td>
          <td><%=: aircraft.arrived | humanDate %></td>
          <td><%- aircraft.name %></td>
          <td><%- aircraft.etops %></td>
          <td><%- aircraft.cockpit %></td>
          <td><%- aircraft.lighting %></td>
          <td><%- aircraft.ife %></td>
          <td><%- aircraft.wifi %></td>
          <td><%=: aircraft.createdAt | humanDate %></td>
          <td><%=: aircraft.updatedAt | humanDate %></td>
          <td><a href="#" class="destroy-object" data-api="<%- req.options.controller %>" data-id="<%- aircraft.id %>">Destroy</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<div class="row text-center">
  <button class="btn btn-primary" role="button" data-toggle="collapse" href="#form-open" aria-expanded="false" aria-controls="form-open">New Item</button>
</div>
