<!-- Jumbotron -->
<div class="jumbotron">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Flt</td>
        <td>Airline</td>
        <td>Destination</td>
        <td>Origin</td>
        <td>Scheduled</td>
        <td>Estimated</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% _.each(flights, function(flight) { %>
        <tr>
          <td><%- flight.flt %></td>
          <td><%- flight.airline_name_friendly %></td>
          <td><%- flight.destination %></td>
          <td><%- flight.origin %></td>
          <td><%=: flight.sched_time | humanDate %></td>
          <td>
            <% if(flight.expected_time) { %>
              <%=: flight.expected_time | humanDate %>
            <% } else { %>
            <em>On Time</em>
            <% }  %>
          </td>
          <td><%- flight.status %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
